.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 2rem;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}
.i-button{
    height: 2.5rem;
    width: 7rem;
}
.i-icons{
    display: flex;
    margin-top: 3rem;
    gap: 0rem;
}
.i-icons>*{
    transform: scale(0.5);
    transition: .3s ease;
}
.i-icons>*:hover{
    transform: scale(1);
    cursor: pointer;
}


.i-right{
    flex: 1;
    position: relative;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(0.70);
    left: -23%;
    top: -1%;
}
.i-right>:nth-child(2){
    transform: scale(0.60);
    top: -18.6%;
    left: -9rem;
}
.i-right>:nth-child(3){
    transform: scale(1.2);
    top: 1.1rem;
    left: 5rem;
}